[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
tiktoken = "*"
openai = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
langchain-pinecone = "*"
langchain-community = "*"
langchain-openai = "*"
langchainhub = "*"
langchain-google-genai = "*"
pinecone-client = {extras = ["grpc"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
